<!DOCTYPE html>
<html>
<head>
<style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0em;
    padding: 0;
    width: 35%;
    width: 41%;
origin/master
    position: absolute;
    height: 200%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 27px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00e68a;
    color: white;
}
#image img {
	width: 250 px;
	
}
#image {	
	padding: 1em;
	max-width: 11em;
	margin-bottom: 2em;
}

body {
	  
	font-family: circular std book;
	margin-left: 6em;
	font-size: 28px;
	background:  white;
	background-size: cover; 
		background attachment: scroll fixed;
	margin-top: 4em;
	margin-bottom: 0;
	margin-left: 2em;
	margin-right: 0;
	margin-top: 2em;
	max-width: 36em;

}
h1 {
	font weight: bold;
	font-size: 3.1em;
	line-height: 1.5em;
	color: black;
	
}
h2 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1.2em;
}

#logo {
	font-size: 2.92em;
	font-family: Natasha;
	color: black;
}


	
