<!DOCTYPE html>
<html>
<head>
<style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 10em;
    padding: 0;
    width: 41%;
    background-color: #003300;
    position: absolute;
    height: 200%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00e68a;
    color: white;
}
body {
	  
	font-family: Avenir;
	margin-left: 6em;
	font-size: 20px;
	background: #e0e6ff url(https://s-media-cache-ak0.pinimg.com/originals/2c/95/ad/2c95ad0b2600955b005694d0c68f1cdf.jpg) no-repeat fixed;
	background-size: cover; 
	margin-top: 4em;
	margin-bottom: 0;
	margin-left: 2em;
	margin-right: 0;
	margin-top: 1em;
	max-width: 45em;

}
h1 {
	font weight: bold;
	font-size: 1.7em;
	line-height: 1.5em;
	color: 800000;
	
}
h2 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1.9em;
}