body {
	
	font-size: 3.52em;
	font-family: Natasha;
	color:  #ffffff;
	margin-top: 3.1em;
	text-align: center;
	background: url("https://media.giphy.com/media/aXoOpYmho4CDS/giphy.gif") no-repeat center fixed;
	background attachment: scroll;
		background-size: cover; 
	}
	
	
/*	
http://pre00.deviantart.net/1f2a/th/pre/f/2012/056/4/5/green_high_res_texture_by_unofficialdear-d4qybig.jpg