body {
	font-family: Avenir;
	margin-left: 5em;
	background-color: f2f2f2;
	margin-top: 7em;
	max-width: 33.5em;
	
	
}
h1 {
	margin-left: 39em
	font-size: 6.3.5em;
	line-height: 0.5em;
	color: #ff5733;
}


}

p.warhol {
	background color: yellow;
	max-width: 10em;
}

figcaption {
	max-width: 10em;
}

#marilyn {
	color: pink;
}

figcaption em {
	font-weight: bold;
	font-style: italic;
}

.portrait {
	border: solid 2px red;
}


.beforeandafter {
	max width: 10em;
	background color: red;
}
