body {
	
	font-size: 5.8em;
    font-family: Avenir;
	color:  #ffffff;
	margin-left: 6.15em;
	margin-top: 2.15em;
	background: url("https://media.giphy.com/media/ic0JgV127XEWY/giphy.gif") no-repeat center fixed;
	background attachment: scroll;
		background-size: cover; 
		position: static;
	}
	
	p {
		font-size: 0.92em;
		font-family: Avenir;
		color:  #ffffff;
	}
	
	#enter {
		font-family: Avenir;
		
		color: white;
		margin-left: 9.13em;
		margin-bottom: 3em;
		margin-top: 0.1em;
		font-weight: bold;
		}
		
		li a:hover:not(.active) {
		    color: white;
			background color: black;
			font-size: 169%;
		}
		
		a:link {
		    color: green;
		}
		
		
		
		

/*	
http://pre00.deviantart.net/1f2a/th/pre/f/2012/056/4/5/green_high_res_texture_by_unofficialdear-d4qybig.jpg
	
/*https://media.giphy.com/media/Z2LEdqIcrBlf2/giphy.gif
	
/*https://media1.giphy.com/media/ilqOZIJ66N1fssCRk4/200.gif#5
	
/*https://media3.giphy.com/media/qHyNwshIEVysU/200.gif#30
	
/http://giphy.com/gifs/christmas-xmas-time-ic0JgV127XEWY